/MyMusic-Android/.gradle
/MyMusic-Android/.idea
/MyMusic-Android/MyMusic-Android.iml
/MyMusic-Android/local.properties
/MyMusic-Android/app/build
/MyMusic-Android/app/app.iml
/MyMusic-Server/.idea
/MyMusic-Server/out