<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>GetSongInfoServlet</servlet-name>
        <servlet-class>site.iway.mymusic.servlets.GetSongInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSongInfoServlet</servlet-name>
        <url-pattern>/GetSongInfo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSongServlet</servlet-name>
        <servlet-class>site.iway.mymusic.servlets.GetSongServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSongServlet</servlet-name>
        <url-pattern>/GetSong</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ListSongsServlet</servlet-name>
        <servlet-class>site.iway.mymusic.servlets.ListSongsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListSongsServlet</servlet-name>
        <url-pattern>/ListSongs</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PlayListServlet</servlet-name>
        <servlet-class>site.iway.mymusic.servlets.PlayListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlayListServlet</servlet-name>
        <url-pattern>/PlayList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveLyricServlet</servlet-name>
        <servlet-class>site.iway.mymusic.servlets.SaveLyricServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveLyricServlet</servlet-name>
        <url-pattern>/SaveLyric</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetLyricServlet</servlet-name>
        <servlet-class>site.iway.mymusic.servlets.GetLyricServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetLyricServlet</servlet-name>
        <url-pattern>/GetLyric</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveAlbumServlet</servlet-name>
        <servlet-class>site.iway.mymusic.servlets.SaveAlbumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveAlbumServlet</servlet-name>
        <url-pattern>/SaveAlbum</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAlbumServlet</servlet-name>
        <servlet-class>site.iway.mymusic.servlets.GetAlbumServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAlbumServlet</servlet-name>
        <url-pattern>/GetAlbum</url-pattern>
    </servlet-mapping>

</web-app>