<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="site.iway.mymusic_phone">

    <application>

        <activity
            android:name="site.iway.mymusic.user.activities.LaunchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeLaunch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
